.emi-view {
    margin-top: 30px;
    margin-left: 70px;
    font-size: 20px;
    width: 80%;
}
.emi-view-table table {
    table-layout: fixed;
    width: 100%;
    border-collapse:separate;
    border-spacing:0 15px;
}
.emi-view-table table, tr, th, td {
    border: 0px solid black;
}
.emi-view-table td {
    border: 0px solid black;
    width: 25%;
}

.delete-button {
    background-color: #2a95bf;
}