/**
 * Author: Falgun Manishbhai Makadia (B00874635)
 * Description: CSS for LoginPage 
 */
.btn-primary {
  color: #fff;
  background-color: #2a95bf;
  border-color: #2a95bf;
}
.primary-color {
  color: #2a95bf;
}
.icon-img {
  width: 70px;
  height: 70px;
  margin-bottom: 2rem;
}
.reset {
  color: black;
}
a {
  text-decoration: none;
}
.error {
  color: #cc0000;
  margin-left: 0.8rem;
  margin-top: 0.2rem;
  text-align: left;
}
